In [1]:
%matplotlib inline
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy.random as npr
import re

In [14]:
dat = pd.read_csv('som_hair_freqs.tsv.csv', sep='\t', names=['p', 'phair'], header=0)

In [16]:
dat

         p  phair
0   0.1580  0.283
1   0.1195  0.066
2   0.4400  0.246
3   0.4710  0.608
4   0.0610  0.009
5   0.1520  0.110
6   0.5000  0.242
7   0.0565  0.042
8   0.2050  0.260
9   0.2360  0.674
10  0.0560  0.014
11  0.1310  0.167
12  0.1835  0.325
13  0.0870  0.053

In [27]:
s2 = np.mean((dat.p-dat.phair)**2)
p1mp_mean = np.mean((dat.p*(1-dat.p)))

In [28]:
N = p1mp_mean/s2
N

5.373258259769044

In [44]:
nreps = 10000
Ns = []
for rep in range(nreps):
    datp = dat.sample(dat.shape[0], replace=True)
    s2p = np.mean((datp.p-datp.phair)**2)
    p1mp_mean_p = np.mean((datp.p*(1-datp.p)))
    Np = p1mp_mean_p/s2p
    Ns.append(Np)
Ns = np.sort(Ns)

In [45]:
lower_index = int(nreps*0.025+0.5)
upper_index = int(nreps*0.975+0.5)
Ns[[lower_index, upper_index]]

array([ 2.644241  , 18.41238699])

# doing the same with the new estimator

In [47]:
rN = np.mean((dat.p-dat.phair)**2/(dat.p*(1-dat.p)))
N = 1/rN
N

7.073122276334938

In [50]:
nreps = 10000
Ns = []
for rep in range(nreps):
    datp = dat.sample(dat.shape[0], replace=True)
    rNp = np.mean((datp.p-datp.phair)**2/(datp.p*(1-datp.p)))
    Np = 1/rNp
    Ns.append(Np)
Ns = np.sort(Ns)

In [51]:
lower_index = int(nreps*0.025+0.5)
upper_index = int(nreps*0.975+0.5)
Ns[[lower_index, upper_index]]

array([ 3.35290404, 23.61285112])